.App {
  font-family: sans-serif;
  text-align: center;
}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.step {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  transition: all 0.2s ease;
}
.stepper {
  position: relative;
}
.progress {
  width: 100%;
  height: 2px;
  background-color: grey;
  position: absolute;
  top: 50%;
  z-index: -1;
  transition: all 0.2s ease;
}
.step.active {
  background-color: skyblue;
}
